{
  "extends": [
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "jest/globals": true
  }
}
