body {

  // Option 1) Read from webpack config
  font-size: $bodyFontSize;

  // Nesting is also possible!
  border: map_get($borders, heavy);

  // Option 2) Read from JSON or Javascript file
  color: $blueColor; // from colors.json
  background-color: $grayBackgroundColor; // from background.js
}